# Copie este arquivo para `.env` e ajuste.
#
# Local (SQLite):
#   DATABASE_URL=sqlite:///./app.db
#
# Render/Produção (Postgres):
#   DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:PORT/DBNAME

ENVIRONMENT=local
DATABASE_URL=sqlite:///./app.db

# JWT
JWT_SECRET=my-secret
JWT_ALGORITHM=HS256
JWT_ISSUER=curso-fastapi.com.br
JWT_AUDIENCE=curso-fastapi
JWT_EXPIRES_MINUTES=30